doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="js/lib/jquery-2.0.0.js")
    script(src="js/lib/underscore.js")
    script(src="js/lib/backbone.js")
    script(src="js/lib/backbone.localStorage.js")
    script(src="js/models/user.js")
    script(src="js/collections/users.js")
    script(src="js/views/user.js")
    script(src="js/views/app.js")
    script(src="js/routers/router.js")
    script(src="js/app.js")
    div(id="mocha")
    script(src="expect.js")
    script(src="mocha.js")
    script
      mocha.setup('bdd')
    script(src="test.array.js")
    script(src="test.object.js")
    script(src="test.xhr.js")
    script
      mocha.checkLeaks();
      mocha.globals(['jQuery']);
      mocha.run();
  body
    block content